.p-h2.Flex20 {
display: flex;
align-items: stretch;
justify-content: center;
flex-wrap: wrap;
}
.p-h2.Div15 {
;
}
.p-h2.Flex21 {
display: flex;
justify-content: space-around;
margin-left: 20px;
margin-right: 20px;
}
.p-h2.Div16 {
;
}
.p-h2.Div17 {
;
}
.p-h2.Div18 {
;
}
.p-h2.Div19 {
;
}
.p-h2.TextBox26 {
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-h2.Image14 {
;
}
.p-h2.Image15 {
;
}
.p-h2.Image18 {
;
}
.p-h2.Image19 {
;
}
